[flurry]
api-key=86NPKXMQZJGNHD8929N7
token=eyJhbGciOiJIUzI1NiIsImtpZCI6ImZsdXJyeS56dXVsLnByb2Qua2V5c3RvcmUua2V5LjIifQ.eyJpc3MiOiJodHRwczovL3p1dWwuZmx1cnJ5LmNvbTo0NDMvdG9rZW4iLCJpYXQiOjE1NjAzNzUzODcsImV4cCI6MzMxMTcyODQxODcsInN1YiI6IjQ0NzYyOSIsImF1ZCI6IjQiLCJ0eXBlIjo0LCJqdGkiOiI5NTMwIn0.2aJmIXwfYsU4KOLBnbciAiCnqV74KYaNlyzAhiAc2uc
timeout=60000